/* /* html, body,  */
/* .grid-container 
   display: grid;
   grid-column: repeat(3, 1fr);
   grid-row: repeat(3, 100px);
 */
html
body
.q-box {
    display: inline-block;
    padding: 10px;
    height: 100px;
    width: 400px;
    box-align: right;
    border: 3px solid blue;

}
.a-box {
    display: inline-block;
    padding: 10px;
    height: 100px;
    width: 400px;
    box-align: right;
    border: 3px solid green;
}
 
/* .grid-col { 
 border: 1px solid red;
 position: relative;
}
.grid-row {
 */

/* }
.grid-container *:after { 
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
} */ */
